.chart-card {
  display: flex;
  padding: 15px 5px;
  align-items: center;
  border-radius: 14px;
}
.chart-card:hover {
  background-color: #e7edf9;
}
.chart-card-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart-card-profile-picture > img {
  width: 40px;
  height: 40px;
}
.chart-card-details {
  width: 80%;
  margin-left: 10px;
}
.chart-card-UserName {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.chart-card-message {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  color: #888;
}
.chart-card-message > span:last-child {
  font-weight: bold;
}
.chart-card-UserName {
  display: flex;
  justify-content: space-between;
}
.chart-card-UserName > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70%;
  padding: 5px;
  border-radius: 14px;
  background-color: #decb90;
}
.chart-card-UserName > span > svg {
  font-size: 17px;
}
